
.cell {
  text-shadow: 1px 1px 1px #000;
  font-family: 'CatergoriesFont', sans-serif;
  text-shadow: 0.6px 0.6px 0.6px #000;
  height: 5rem;
  font-size: 3rem; 
  color: #d7a04b ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 1; 
  transition: all 0.3s ease; 
  background-color: #010a78; /* Set the background color of question cells */
  border: 1px solid #000000; /* Set the border color and style */
  cursor: pointer; /* Add a pointer cursor to indicate clickable cells */
}

.fullscreen {
  font-size: 5rem;
  text-align: center;
  font-family: 'ITC Korinna Std';
  color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.3s ease; /* Add this line for smooth transition */
}
