.fullscreen {
  font-size: 5rem;
  text-align: center;
  font-family: 'ITC Korinna Std';
  color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease; /* Add this line for smooth transition */
  background-color: #010a78;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}